.categoryRow{
    position : relative;

}

.no_scrollbar{
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar{
        display: none;
    }
}
.categoryRow_image{
    height : 15rem;
    max-width  : 15rem;
}

#next,#prev{
    content : '';
    position: absolute;
    height : 25%;
    width : 3rem;
    z-index: 1;
    opacity : 0;
    transition: all .3s ease-in-out;

}
#next{
    right : 0%;
}
#prev{
    left:0%;
}

.product{
    cursor : pointer;
    transition : all .2s ease-in-out;


    &:hover{
        transform: scale(1.02);
        box-shadow:  0 0 40px #aaa;
    }
}