.productCard{
    height: 100%;
    transition: all .2s ease-in-out;

    img{
        height : 30rem !important;
        max-height : 40rem !important;
    }

    &:hover{
        cursor: pointer;
        transform: scale(1.05);
        filter: drop-shadow(0 0 30px lighten(#000,20%));
    }
}

@media(max-width : 480px){
    .productCard{
        img{
            height: auto;
        }
    }
}